<div class="title-page__stats">
    <div class="title-page__stat">
        <div class="title-page__stat-left">Activities</div>
        <div class="title-page__stat-right"><%= activities_count %></div>
    </div> <!-- .title-page__stat -->

    <% if (tries_count > 0) { %>
        <div class="title-page__stat">
            <div class="title-page__stat-left">Tries</div>
            <div class="title-page__stat-right"><%= tries_count %></div>
        </div> <!-- .title-page__stat -->

        <% if (completed_activities_count == activities_count) { %>
        <%
            color_class = 'title-page__color-green';
            if (score < 90) color_class = 'title-page__color-orange';
            if (score < 60) color_class = 'title-page__color-red';
        %>
            <div class="title-page__stat">
                <div class="title-page__stat-left">Score</div>
                <div class="title-page__stat-right <%= color_class %>">
                    <%= score %>%
                </div>
            </div> <!-- .title-page__stat -->
        <% } %>
    <% } %>
</div> <!-- .title-page__stats -->

<div class="title-page__action"></div>
