<div class="<%= view.panelDivClass %>">
    <div class="row-fluid">
        <div class="span12">
            <form id="media-library-edit-panel-from"
                  class="form-horizontal">

                <div class="control-group">
                    <label class="control-label"
                           for="media-library-edit-panel-input-url">
                        URL
                    </label>
                    <div class="controls">
                        <a class="input-url" type="text"
                           id="media-library-edit-panel-input-url">
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
