<div class="<%= view.panelDivClass %>">
    <div class="row-fluid">
        <div class="span12">
            <img src="<%= view.previewUrl || view.model.get('url') %>" class="img-polaroid">
        </div>
    </div>
</div>
