<div class="row-fluid">
    <div class="span12">
        <table class="media-search-results table table-hover">
        </table>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">

        <% if (view.collection.lastPageItemIndex() > 0) { %>
            <a href="#"
               class="pagination-prev <% if (!view.collection.hasPrev()) { %>disabled<% } %>">
                <<
            </a>

            <%= view.collection.firstPageItemIndex() + 1 %> -
            <%= view.collection.lastPageItemIndex() + 1 %>

            <a href="#"
               class="pagination-next <% if (!view.collection.hasNext()) { %>disabled<% } %>">
                >>
            </a>
        <% } %>

    </div>
</div>
