<div class="<%= view.panelDivClass %>">
    <div class="row-fluid">
        <div class="span12">
            <img src="<%= settings.staticUrl + '/img/3/lg_player1.png' %>">
        </div>
    </div>
</div>
