<div class="media-library-upload-panel">

    <div class="row-fluid">
        <div class="span12 media-upload-pane">
            <div class="well">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="input_file">
                            Select file to upload from your computer
                        </label>
                        <div class="controls">
                            <div class="uploader"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
