<% if (title) { %>
    <div class="modal-header">
        <% if (allowCancel) { %><a class="close">×</a><% } %>
        <h3><%= title %></h3>
    </div>
<% } %>
<div class="modal-body"><%= content %></div>
<div class="modal-footer">
<% if (typeof allowOK !== 'undefined' && allowOK) { %>
    <% if (okText) { %>
        <a href="#" class="btn ok btn-success btn-primary"><%= okText %></a>
    <% } %>
<% } %>
<% if (allowCancel) { %>
    <% if (cancelText) { %>
        <a href="#" class="btn cancel"><%= cancelText %></a>
    <% } %>
<% } %>
</div>
