<div class="tile__number-container">
    <div class="tile__number"><%= number %></div>
</div>
<div class="tile__elements-container">
    <div class="tile__elements">
    </div>
    <div class="tile__element tile__element--add">
        <div class="element__plus-container">
            <div class="element__plus">+</div>
        </div>
    </div>
</div>
