<ol class="breadcrumb breadcrumb_under-navbar">
  <li ng-class="{'active': breadcrumbs.length == 0}">
    <a ng-if="breadcrumbs.length > 0"
       ui-sref="lessons"
       ui-sref-opts="{inherit: false}">
      Home
    </a>
    <span ng-if="breadcrumbs.length == 0">Home</span>
  </li>
  <li ng-repeat="category in breadcrumbs"
      ng-class="{active: $last}">
    <a ng-if="!$last"
       ui-sref="lessons({category_id: category.id})">
      {{ category.name }}
    </a>
    <span ng-if="$last">{{ category.name }}</span>
  </li>
</ol>
