<% if (view.editable) { %>
    <td class="item-handle">
        <a href="#" class="color-palette-edit">
            <i class="icon-th" />
        </a>
    </td>
    <td class="item-color"></td>
    <td class="item-label">
        <span><%= view.model.get('label') %></span>
    </td>
    <td class="item-controls item-remove">
        <a href="#" class="color-palette-remove">
            <i class="icon-trash" />
        </a>
    </td>
<% } else { %>
    <td class="item-handle"></td>
    <td class="item-color new-item-color">white</td>
    <td class="item-label new-item-label">
        <input type="text" placeholder="Type in a label.."/>
    </td>
    <td class="item-controls item-add">
        <a href="#" class="color-palette-add">
            <i class="icon-plus" />
        </a>
    </td>
<% } %>
