<div class="<%= view.panelDivClass %>">
    <h4>Notes</h4>
    <hr>

    <div class="row-fluid">
        <div class="span12">
            <form id="text_panel_settings"
                  class="form-horizontal text-panel-settings">
                <div class="control-group">
                    <label class="control-label" for="inputTextSize">
                        Choose text size
                    </label>
                    <div class="controls">
                        <a id="inputTextSize"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
