<div class="buttons-group color-mode-button-container"></div>
<div class="buttons-group color-palette-container"></div>
<div class="buttons-group split-color-palette-container"></div>
<div class="buttons-group buttons-container"></div>
