<div class="text-center">
    <a ui-sref="stats.students">students</a>
    <span>Classes</span>
    <a ui-sref="stats.lessons">lessons</a>
</div>

<div ng-if="students && students.length"
     ng-class="{'disabled-block': data_loading}"
     class="table-responsive">
  <table class="table table-striped data-table">
    <thead>
      <tr>
        <th>
          Class
        </th>
        <th class="text-center">
          Total № of lessons
        </th>
        <th class="text-center">
          Average initial accuracy
        </th>
        <th class="text-center">
          Average final accuracy
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, class) in classes">
        <td>{{class.name}}</td>
        <td class="text-center" width="150">
          {{ class.total }}
        </td>
        <td class="text-center students__table-date-cell">
          {{ class.initial*100/class.divider | number:0 }}%
        </td>
        <td class="text-center students__table-date-cell">
          {{ class.final*100/class.divider | number:0 }}%
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="text-center"
       ng-if="totalItems > itemsPerPage">
    <pagination items-per-page="itemsPerPage"
                total-items="totalItems"
                ng-model="pagination.currPage"
                ng-change="pageChanged()">
    </pagination>
  </div> -->
</div>


<div class="text-center"
     ng-if="students && !students.length">
  <b>No results</b>
</div>

<div ui-view></div>