<div class="text-center">
    <a ui-sref="stats.students">students</a>
    <span>Lessons</span>
    <a ui-sref="stats.classes">classes</a>
</div>

<div ng-if="students && students.length"
     ng-class="{'disabled-block': data_loading}"
     class="table-responsive">
  <div ng-repeat="(key, lesson) in finalized_activities">
      <table class="table table-striped table-bordered">
          <tr>
            <td rowspan="2" style="width: 18%; vertical-align: middle; text-align: center;" ng-click="showLesson(key)" class="pointer">
                <b>{{users_activities[key].name}}</b>
            </td>
            <td ng-repeat="(k, act) in lesson">
                <b>{{act.name}}</b>
            </td>
          </tr>
          <tr>
            <td width="150" ng-repeat="(k, act) in lesson">
                {{act.counter/act.score*100 | number:0}}%
            </td>
          </tr>
      </table>
  </div>

  <!-- <div class="text-center"
       ng-if="totalItems > itemsPerPage">
    <pagination items-per-page="itemsPerPage"
                total-items="totalItems"
                ng-model="pagination.currPage"
                ng-change="pageChanged()">
    </pagination>
  </div> -->
</div>


<div class="text-center"
     ng-if="students && !students.length">
  <b>No results</b>
</div>

<div ui-view></div>