<div class="page-container">
    <div class="page-container-inner">
        <div class="list-container">
            <div class="list">
            </div>
            <div class="controls">
                <a href="#" class="btn pull-left go-to-prev-page">Prev</a>
                <a href="#" class="btn pull-left go-to-next-page">Next</a>
                <a href="#" class="btn pull-left create-new-plant">New Plant</a>
            </div>
        </div> <!-- .plant-container -->

        <div class="toolbar-container"></div> <!-- .toolbar-container -->
    </div> <!-- .page-container -->
</div> <!-- .page-outer-container -->
