<div class="page-container">
    <div class="page-container-inner">
        <div class="plant-container">
            <div class="canvas-container"></div>                                <!-- .canvas-container -->
            <div class="text-to-canvas-container"></div>                        <!-- .text-to-canvas-container -->
        </div>                                                                  <!-- .plant-container -->
        <div class="toolbar-container"></div>                                   <!-- .toolbar-container -->
    </div>                                                                      <!-- .page-container -->
</div>                                                                          <!-- .page-container -->
