<div class="page-container">
    <div class="page-container-inner">
        <div class="plant-container">
            <div class="canvas-container"></div>
            <div class="text-to-canvas-container"></div>
        </div>
        <div class="toolbar-container"></div>
    </div>
</div>
