<div class="page-container">
    <div class="sidebar-container">
    </div><!-- sidebar is removed in the code but kept here because of the css -->
    <div class="page-container-inner">
        <div class="plant-container">
            <div class="plant-name-container" unselectable="on"></div> <!-- .plant-name-container -->

            <div class="canvas-container"></div> <!-- .canvas-container -->

            <div class="text-to-plant-container"></div> <!-- .text-to-plant-container -->
        </div> <!-- .plant-container -->

        <div class="toolbar-container"></div> <!-- .toolbar-container -->
    </div> <!-- .page-container -->
</div> <!-- .page-outer-container -->
