<h2 class="user-profile__title">Edit profile</h2>


<form class="row col-md-6" ng-submit="sendForm()">
  <div class="alert alert-success"
       ng-if="success">
    Your account details has been changed!
  </div>

  <div class="alert alert-danger"
       ng-if="error_msg"
       ng-bind="error_msg">
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group"
           ng-class="{'has-error': errors.first_name}">
        <label class="control-label">First Name</label>
        <input type="text"
               class="form-control"
               placeholder="Last Name"
               ng-model="form.first_name"
               required />
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group"
           ng-class="{'has-error': errors.last_name}">
        <label class="control-label">Last Name</label>
        <input type="text"
               class="form-control"
               placeholder="Last Name"
               ng-model="form.last_name"
               required />
      </div>
    </div>
  </div>

  <button type="submit"
          class="auth-form__submit btn btn-primary"
          ng-class="{'disabled': sending}">
    Save<span ng-if="sending">..</span>
  </button>
</form>
