<ul class="nav nav-tabs">
  <li class="active">
    <a ui-sref="users.sign_up">Reset Password</a>
  </li>
  <li>
    <a ui-sref="users.sign_in">Log In</a>
  </li>
</ul>

<form class="tab-content" ng-submit="sendForm()">
  <div class="alert alert-info"
       ng-if="show_info">
    Forgot your password? No problem! Just enter the email address tied to your account below and we'll email you instructions for choosing a new password.
  </div>

  <div class="alert alert-success"
       ng-if="success">
    Password reset link has been sent!
  </div>

  <div class="alert alert-danger"
       ng-if="error_msg"
       ng-bind="error_msg">
  </div>

  <div class="form-group">
    <label class="control-label">Email</label>
    <input type="email"
           class="form-control"
           placeholder="Email"
           ng-model="form.email"
           required />
  </div>

  <button type="submit"
          class="auth-form__submit btn btn-success btn-block btn-lg"
          ng-class="{'disabled': sending}">
    Send instructions<span ng-if="sending">..</span>
  </button>
</form>
