<ul class="nav nav-tabs">
  <li class="active">
    <a ui-sref="users.sign_in">Log In</a>
  </li>
  <li>
    <a ui-sref="users.sign_up">Sign up</a>
  </li>
</ul>

<form class="tab-content" ng-submit="sendForm()">
  <div ng-if="activate"
       class="alert"
       ng-class="{'alert-success': activate.success,
                  'alert-danger': !activate.success}"
       ng-bind="activate.error ||
                'Your account has been successfully activated! You can sign in now.'">
  </div>

  <div ng-if="pass_changed"
       class="alert alert-success">
    Password has been successfully changed! Please sign with your new password.
  </div>

  <div class="alert alert-danger"
       ng-if="error_msg"
       ng-bind="error_msg">
  </div>

  <div class="form-group">
    <label class="control-label">Username</label>
    <input type="text"
           class="form-control"
           placeholder="Username"
           ng-model="form.username"
           required />
  </div>

  <div class="form-group">
    <label class="control-label">Password</label>
    <input type="password"
           class="form-control"
           placeholder="Password"
           ng-model="form.password"
           required />
  </div>

  <div class="form-group">
    <div class="checkbox clearfix">
      <label class="pull-left">
        <input type="checkbox"
               ng-model="form.remember_me"
               ng-init="form.remember_me=false">
        Remember me
      </label>

      <div class="pull-right">
        <a ui-sref="users.forgot_password">Forgot password?</a>
      </div>
    </div>
  </div>

  <button type="submit"
          class="auth-form__submit btn btn-success btn-block btn-lg"
          ng-class="{'disabled': sending}">
    Sign In<span ng-if="sending">..</span>
  </button>
</form>
