<div class="toolbar toolbar-centered">

    <div class="toolbar-centered__left-col">
        <div class="toolbar__section toolbar__section_left station-navigator no-bs">
        </div>
    </div>

    <div class="toolbar__table-container toolbar-centered__mid-col">
        <div class="toolbar__section toolbar__section_mid">
        </div>
    </div>

    <div class="toolbar-centered__right-col">
        <div class="toolbar__section toolbar__section_right">
        </div>
    </div>

</div>
