<div class="<%= view.panelDivClass %>">
    <div class="row-fluid">
        <div class="span12">
            <form id="image-modal-url-panel-form"
                  class="form-horizontal plant-details-settings">

                <div class="control-group">
                    <label class="control-label" for="image-modal-url-panel-input-url">
                        URL
                    </label>
                    <div class="controls">
                        <a class="input-url" type="text" id="image-modal-url-panel-input-url"></a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
