<div class="page-container">
    <div class="page-container-inner">
        <div class="demo-welcome-container">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h2>Welcome!</h2>
                        <p>Please <a href="#" class="demo-link">click here</a> to start
                            <a href="#" class="demo-link">Demo</a>!
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- .list-container -->

        <div class="toolbar-container"></div> <!-- .toolbar-container -->
    </div> <!-- .page-container -->
</div> <!-- .page-outer-container -->
