<a href="<%= backURL %>" class="sidebar__logo"></a>

<div class="sidebar__tiles-outer">
  <div class="sidebar__title-page-image"></div>

  <div class="sidebar__tiles-container">
      <div class="sidebar__tiles">
      </div>
  </div>
</div>
