<div class="row">
  <div class="col-md-4">
    <div class="well">
      <p>Number of students:</p>
      <p><b>{{ data.num_of_students }}</b></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <p>Number of licences:</p>
      <p><b>{{ data.num_of_max_licences }}</b></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <p>Subscription expiration date:</p>
      <p><b>{{ data.expiration_date }}</b> (<i>{{ data.days_remaining }} days remaining</i>)</p>
    </div>
  </div>
</div>
