<!-- build:css({.tmp,app}) /css/panel.css -->
<link rel="stylesheet" href="/css/globals.css" />
<link rel="stylesheet" href="/css/unsupported-browser.css" />
<link rel="stylesheet" href="/css/layout-panel.css" />
<!-- endbuild -->


<div ng-controller="UnsupportedBrowserCtrl">
  <div class="unsupported-browser__overlay"
       ng-if="show_outdated_browser_msg">
    <div class="unsupported_browser__panel">
      <div class="unsupported_browser__panel-header">Your browser is unsupported :(</div>

      <div class="unsupported_browser__panel-text">
        This site might not work correctly in your browser. We reccomend you to install latest version of <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>
      </div>

      <div class="unsupported_browser__panel-close"
           ng-click="hideMsg()">
        <span class="glyphicon glyphicon-remove"></span>
      </div>

    </div> <!-- .unsupported_browser__panel -->
  </div> <!-- .unsupported-browser__overlay -->
</div>



<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Languagegarden</a>
    </div> <!-- .navbar-header -->

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="lessons"
             ui-sref-opts="{inherit: false}">
            Lessons
          </a>
        </li>
        <li ng-if="USER.organisation"
            ui-sref-active="active">
          <a ui-sref="classes">Classes</a>
        </li>
        <li ng-if="USER.organisation"
            ui-sref-active="active">
          <a ui-sref="students.list">Students</a>
        </li>
        <li ng-if="USER.organisation"
            ui-sref-active="active">
          <a ui-sref="stats.main">Statistics</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href class="dropdown-toggle">
            <span ng-if="USER.organisation">
              {{ USER.organisation.organisation_full_name | cut:false:25 }} /
            </span>
            {{ USER.username }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="profile.edit">Account</a></li>
            <li ng-if="USER.organisation">
              <a ui-sref="admin_panel">License Info</a>
            </li>
            <li class="divider"></li>
            <li><a ui-sref="users.sign_out">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div> <!-- .container -->
</div>

<div class="container">
  <div ui-view=""></div>
</div>
