/*
 * Build Icon Rule
 */
.icon(@file_name, @width, @height) {
    width:              ~'@{width}px' !important;
    height:             ~'@{height}px' !important;
    background-image:   url('../img/v4/@{file_name}');
}


/*
 * Icons
 */
.icon {
    background-repeat: no-repeat;
    .background-size(contain);
}

/*
 * Active Icon [Green Checkbox]
 */
.icon.active, .active > .icon {
    position: relative;

    &:before {
        &:extend(.icon, .icon_green-check);
        content: '';
        position: absolute;
        top: -8px;
        right: -8px;
    }
}

/*
 * Icons
 */
.icon_back              {.icon('icon_back.png',         49, 38.75)}
.icon_check             {.icon('icon_check.png',        50.5, 45)}
.icon_scale             {.icon('icon_scale.png',        35.25, 38.5)}
.icon_stretch           {.icon('icon_stretch.png',      43.25, 26.75)}
.icon_pencil            {.icon('icon_pencil.png',       38.25, 41.5)}
.icon_scissors          {.icon('icon_scissors.png',     36.75, 42.5)}
.icon_refresh           {.icon('icon_refresh.png',      38.5, 41.5)}
.icon_trash             {.icon('icon_trash.png',        33.5, 42)}
.icon_palette           {.icon('icon_palette.png',      44.75, 43)}
.icon_green-check       {.icon('icon_green-check.png',  23, 24)}
.icon_move              {.icon('icon_move.png',         44.25, 44.75)}
.icon_frame             {.icon('icon_frame.png',        45.75, 47)}

