<div class="<%= view.panelDivClass %>">
    <div class="row-fluid">
        <div class="span12">
            <form id="plant-link-edit-panel-form"
                  class="form-horizontal">

                <div class="control-group">
                    <label class="control-label"
                           for="plant-link-edit-panel-input-name">
                        Name
                    </label>
                    <div class="controls">
                        <a class="input-name" type="text"
                           id="plant-link-edit-panel-input-name">
                        </a>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"
                           for="plant-link-edit-panel-input-href">
                        Link URL
                    </label>
                    <div class="controls">
                        <a class="input-href" type="text"
                           id="plant-link-edit-panel-input-href">
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
