<h2 class="title-page__title title-form__caption" unselectable="on">
    <%= title ? _.escape(title) : 'Add title by clicking here!' %>
</h2>
<div class="title-form__field-container" style="display:none">
    <input class="title-page__title title-form__field" value="<%= _.escape(title) %>" />
</div>
